@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");

body {
  background: rgb(247, 245, 245);
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  margin: 70px 0;
}

.chatbar {
  background:-webkit-gradient(linear, 
  left bottom, right top, 
  color-stop(0%, rgba(128,0,128,1)), 
  color-stop(100%, rgba(0,128,128,1)));;
  border-top: 1px solid black;
  bottom: 0;
  display: flex;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
}

.chatbar-message,
.chatbar-username {
  border: 1px solid black;
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;
}

.chatbar-message {
  flex: 8;
}

.chatbar-username {
  flex: 2;
}

iframe {
  padding-top: 3px;
}
.message {
  display: flex;
  padding: 5px;
  color:purple; 
}

.message.system {
  font-style: italic;
  padding: 5px 20px;
}

.message-content,
.message-username {
  overflow: hidden;
  margin: 5px;
  padding: 0 10px;
}

.message-content {
  flex: 8;
}

.message-username {
  flex: 2;
  font-weight: 700;
}

.navbar {
  background:-webkit-gradient(linear,
  left bottom, right top, 
  color-stop(0%, rgba(128,0,128,1)), 
  color-stop(100%, rgba(0,128,128,1)));;
  border-bottom: 1px solid black;
  height: 60px;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
}

.navbar-brand {
  color: #ffffff;
  display: block;
  float: left;
  font-weight: 700;
  font-size: 28px;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
}

.navbar-count {
  float: right;
  margin-top: 2%;
  margin-right:2%;
  color: #ffffff; 
}

.embed{
  all:none; 
}